<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechTrio-Team</title>
    <link rel='stylesheet' href="{{ url_for('static' , filename ='team.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body ">
    <div class="container">
        <div class="try">
            <div class="card">
                <img src='{{ url_for('static' , filename ='images/rkt.jpeg')}}'>
                <div class="text">
                </div>
            </div>
        </div>
        <div class="try">
        <div class="card">
            <div class="text">
                <h4>Sanskar Srivastava</h4>
                <ul>
                    <li><a target="_blank" href="https://www.instagram.com/its.sri.sanskar/"><i class="fa fa-instagram"></i></a></li>
                     <li><a target="_blank" href="https://www.facebook.com/sanskar.srivastava.9235/"><i class="fa fa-facebook"></i></a></li>
                      <li><a target="_blank" href="https://github.com/sanskarsri"><i class="fa fa-github"></i></a></li>
                      <li><a target="_blank" href="https://www.linkedin.com/in/sanskar-srivastava-0319b3194/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="try">
        <div class="card">
            <div class="text">
                <h4>Sachin Pund</h4>
                <ul>
                      <li><a target="_blank" href="https://github.com/Sachinpund27/"><i class="fa fa-github"></i></a></li>
                      <li><a target="_blank" href="https://www.linkedin.com/in/sachin-pund-a53642334/"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</body>
</html>